Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
gunicorn==19.1.1
itsdangerous==0.24
pymongo==2.7.2
PyYAML==3.11
-e git+https://github.com/thingstance/thingstance#egg=thingstance
