<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/icon.png') }}" />

    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/foundation/css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
    {% block script %}{% endblock %}
  </head>
  <body>
  {% block header %}
  {% endblock %}
  {% block phase_banner %}
  {% endblock %}
     {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
          <div class="row">
            <div class="small-12 columns">
              {% for category, message in messages %}
              <div data-alert class="alert-box {% if category == 'error'%}alert{% else %}{{ category }}{% endif %}">
                  {{ message }}
                </div>
              {% endfor %}
             </div>
          </div>
        {% endif %}
      {% endwith %}
  {% block content %}
  {% endblock %}
  </body>
</html>
