{% extends "registerbase.html" %}
{% block title %}{{ register.name|capitalize }} Register{% endblock %}
{% block header_title %}{{ register.name|capitalize }} Register{% endblock %}

{% block content %}
  <div class="row">
      <div class="small-12 large-8 columns">
        {% for entry in entries %}
            <p>hash: {{ entry.hash }}</p>
            <table>
                <tbody>
                    {% for key, val in entry.primitive.items() %}
                         <tr><td>{{key}}</td><td>{{val}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
       </div>
  </div>

  {% include "licence.html" %}

{% endblock %}
