{% extends "registerbase.html" %}
{% block title %}{{ register.name|capitalize }}{% endblock %}
{% block header_title %}{{ register.name|capitalize }} Register{% endblock %}

{% block content %}
    <div class="row">

      <div class="small-12 large-12 columns">

      <h1>{{ entry["name"] }}</h1>

      <p>An entry in the <a href="/">{{ register.name }} register</a>.</p>

      <h2>View fields</h2>

      <div class="panel entry">
        <dl>
          {% for field in entry %}
          <dt class="{{ field }}">{{ field|datatype("field") }}</dt>
          <dd class="{{ field }}">{{ entry[field]|datatype(field) }}</dd>
          {% endfor %}

          <dt class="hash">{{ "hash"|datatype("field") }}</dt>
          <dd class="hash">{{ hash|datatype("hash") }}</dd>
        </dl>
      </div> <!-- /.entry -->

      <h2>Get the data</h2>

      {% include "representations.html" %}

      {% include "licence.html" %}

    </div> <!-- /.columns -->

  </div> <!-- /.row -->
{% endblock %}
