{% extends "registerbase.html" %}
{% block title %}{{ register.name|capitalize }} Register{% endblock %}
{% block header_title %}{{ register.name|capitalize }} Register{% endblock %}

{% block content %}
  <div class="row">
      <div class="large-12 columns">
          <div class="meta-entries">
            <p class="label-text">Total entries:
            <p>{{ register.size() | thousands_comma }}</p>

          <p>To find an address by full postcode or key (uprn)</p>
          <p><a href="/postcode/EC3A%205DE">/postcode/EC3A 5DE</a></p>
          <p><a href="/address/100050893898">/address/100050893898</a></p>

          <p>Example result:</p>
          <pre>
  {
    entry: {
      address: "10070641135",
      area: "West Sussex",
      country: "GB",
      latitude: "51.120600044181444",
      locality: "",
      longitude: "-0.07348643299273215",
      postcode: "RH10 4JZ",
      property: "",
      street: "43 Woodlands Close",
      town: "Crawley Down"
    },
    hash: "000000f2c6cff7bb6de1e4ef443ab477c047e34a"
  }
          </pre>


          <ul>
              <li><a href="http://www.openregister.org/">About registers</a></li>
              <li><a href="http://www.openregister.org/developer">Developer documentation</a></li>
          </ul>

  </div>
{% endblock %}
