<div class="row open-government-licence">


    <div class="small-1 medium-1 large-1 columns">
      <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"><img id="ogl-logo" src="/static/images/ogl_logo.png"></a>
    </div>

    <div class="small-4 medium-4 large-4 columns end">

        <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
    </div>

    </div>
</div>
