{% extends "base.html" %}
{% block title %}Register{% endblock%}

{% block header %}
    <div id="header-wrapper">

        <div class="row">
            <div class="header registry small-12 large-12 columns">
                <nav class="top-bar" data-topbar>
                  <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="/">{% block header_title %}A Register{% endblock %}</a></h1>
                </nav>
            </div>
        </div>

    </div>
{% endblock %}

{% block content %}
{% endblock %}
