{% extends "registerbase.html" %}
{% block title %}{{ register.name }} Register{% endblock %}
{% block header_title %}{{ register.name }} Register{% endblock %}

{% block content %}

    <div class="row">

      <div class="small-12 columns">

        <div class="row intro">

          <div class="medium-9 small-12 columns">
            <h1>{{ register.name }} Register</h1>
            <p>A register of {{ register.name }}s.</p>
          </div>

          <div class="medium-3 small-12 columns metadata">
            <span class="big-number">{{ meta.total }}</span>
            <h4 class="subheader"><small>Total entries</small></h4>
          </div>

        </div>

        <h2 class="entries">View entries</h2>

        <div class="panel thing">

        <div id="table-outer">

          <span class="search">
            Find entry:
            <input id="search-input" placeholder="search" />
          </span>

          <table class="things">

            <thead>
              <tr>
                <th>name <span class="sort" data-sort="name">sort</span></th>
              {% for key in thing_keys %}
                <th>{{ key }} <span class="sort" data-sort="{{ key }}">sort</span></td>
              {% endfor %}
                <th>last update</th>
              </tr>
              </tr>
            </thead>

            <tbody class="list">

              {% for hash, thing in things_list %}
              <tr>
                <td class="name"><a href="/name/{{ thing.name }}">{{ thing.name }}</a></td>
              {% for key in thing_keys %}
                <td class="{{ key }}">{{ thing[key]|datatype(key) }}</td>
              {% endfor %}
                <td class="hash"><a href="/hash/{{ hash }}">{{ hash }}</a></td>
              </tr>
              {% endfor %}

            </tbody>

          </table>

        </div>

          {% include "meta.html" %}

          {% include "footer.html" %}

        </div><!-- /.panel -->

    </div> <!-- /.columns -->

  </div> <!-- ./row -->

<script type="text/javascript" src="{{ url_for('static', filename='vendor/listjs/list.min.js') }}"></script>
<script type="text/javascript">
  (function() {

    var elems = document.getElementsByClassName('sort');
    for (var i=0; i<elems.length; i+=1){
        elems[i].style.display = "inline-block";
    }
    document.getElementsByClassName('search')[0].style.visibility = 'visible';

    var valueNames = ['name'];
    {% for key in thing_keys %}
    valueNames.push('{{ key }}')
    {% endfor %}
    var options = {
      valueNames: valueNames
    };
    var itemList = new List('table-outer', options);
    itemList.on('updated', function() {
      var s = document.getElementById('visible-records');
      s.innerHTML = itemList.visibleItems.length;
    });

  })();
</script>

{% endblock %}
