{% extends "registerbase.html" %}
{% block title %}{{ register.name }}{% endblock %}
{% block header_title %}{{ register.name}} Register{% endblock %}

{% block content %}
    <div class="row">
      <div class="small-12 columns">
        <div class="panel thing">
          <dl>
              <dt class="hash"><a href="http://field.thingstance.dev/name/hash">hash</a></dt>
              <dd class="hash">{{ hash|datatype("hash") }}</dd>
            {% for field in thing | sort %}
              <dt class="{{ field }}"><a href="http://field.thingstance.dev/name/{{ field }}">{{ field }}</a></dt>
              <dd class="{{ field }}">{{ thing[field]|datatype(field) }}</dd>
            {% endfor %}
          </dl>
          {% include "footer.html" %}
      </div>
    </div>
  </div>
{% endblock %}
