{% extends "registerbase.html" %}
{% block title %}{{ register.name }} Register{% endblock %}
{% block header_title %}{{ register.name }} Register{% endblock %}

{% block content %}
    <div class="row">
      <div class="small-12 columns">
        <div class="panel thing">

<table class="things">
  <tr>
    <th>Hash</th>
    <th>Name</th>
{% for hash, thing in things_list %}
  <tr>
    <td class="hash"><a href="/hash/{{ hash }}">{{ hash }}</a></td>
    <td class="name"><a href="/name/{{ name }}">{{ thing.name }}</a></td>
  </tr>
{% endfor %}
</table>
          {% include "meta.html" %}

          {% include "footer.html" %}
      </div>
    </div>
  </div>
{% endblock %}
