/* Typography */
body, h1, h2,h3, h4, h5 .button, table, label {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'nta', Arial, Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}


a {
  color:#005EA5;
}

p, dl, ul, label {
  font-size:1.2rem;
}

table {
  width:100%;
}

.button {
  background:#2372B5;
  border-bottom:5px solid #255c8a;
  font-family: 'nta', Arial, Helvetica!important;
  font-weight:bold;
  font-size: 1.35rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.button:hover, .button:focus {
  background-color:#2372B5;
}

.header {
  margin-bottom: 10px;
}

.top-bar #header_crest {
  height: 45px; 
  margin-top: -3px;
  margin-right: 7px;
  margin-left:4px;
}

.top-bar.home h1 {
  text-align:left;
}

.top-bar h1 {
  font-size: 1.35rem;
  text-align:center;
  margin-top:3px;
}

.top-bar a {
  text-decoration:none;
  color:#fff;
}

.top-bar h1.title {
  padding-top: 7px;
  font-size: 1.35rem;
}


.header, .header .top-bar {
  background:#2372b5;
  font-family:Helvetica, Arial, sans-serif;
}

.header .top-bar h1 {
  font-family:Helvetica, Arial, sans-serif;
  font-weight:normal;
}

/* things in registers*/
.thing {
  background:#eceded;
  border:none;
  border-radius: 0;
  margin-top:1rem;
}

.thing {
  font-family:monospace;
}

h3 {
  padding-right:1rem;
  font-weight: normal;
  padding-bottom: 1em;
  font-family:monospace;
}

.thing dt {
  font-weight: normal;
  line-height: 1;
  border-top: dotted 1px #DDDDDD;
  padding-top: 1rem;
  font-size: 1rem;
}

.thing dt a {
  font-weight: normal;
  color: #333333;
}

.thing dt a:hover,
.thing dt a:focus {
  color: #007BA0;
}

dl {
  border-top: none;
}

dl dd {
  color: #333333;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
}

.thing .thing-footer {
  border-top:solid 2px #333;
  padding-top:3rem;
  padding-left:200px;
  background:url(../images/crest_grey.png) no-repeat 0 10px;
  min-height:160px;
}

/* table */
table.things {
  font-family:monospace;
  border: none;
  background: #eceded;
}

table.things tr {
  background: #eceded;
}

table.things tr.even {
  background: #eceded;
}

table.things th,
table.things td {
  text-align: left;
  border: none;
}

/* fields */
.hash {
  word-wrap: break-word;
}
